<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <title>Rodri</title>
</head>

<body>
    <header>
        <nav>
            <div class="menu">
                <div class="menutop">
                    <div class="logo"></div>
                    <form action="" method="get">
                        <input type="text" name="" id="" placeholder="Buscar productos, marcas" />
                        <button type="submit">Enviar</button>
                    </form>
                    <p class="mensaje"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                    </p>
                </div>

                <div class="menubottom">
                    <ul class="item">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li><br>
                    </ul>

                    <ul class="item">
                        <li><a href="/registro">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                        <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                        <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </div>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        <div class="banner"></div>

    </header>
    <main>
        <h2 class="titulos">Basado en tu última visita</h2>

        <div class="container">
            <div class="card"><img src="./images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" style="width: 250px;">
                <p class="precios">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion"><b>Cafetera Moulinex</b></p>
            </div>


            <div class="card"><img src="./images/img-macbook-pro-2019.jpg" alt="macbook pro 2019" style="width: 250px;">
                <p class="precios">$230.000</p>
                <p class="descuento">20% OFF</p>
                <p class="descripcion"><b>MacBook Pro 2019</b></p>
            </div>

            <div class="card"><img src="./images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" style="width: 250px;">
                <p class="precios">$70.500</p>
                <p class="descuento">10% OFF</p>
                <p class="descripcion"><b>Samsung Galaxy S10</b></p>
            </div>

            <div class="card"><img src="./images/img-tv-samsung-smart.jpg" alt="tv samsung smart" style="width: 2500px;">
                <p class="precios">$23.200</p>
                <p class="descuento">5% OFF</p>
                <p class="descripcion"><b>SmartTv Samsung 43"</b></p>
            </div>
        </div>

        <h2 class="titulos">Ofertas</h2>

        <div><img src="./images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" style="width: 2500px;">
            <p class="precios">$6.770</p>
            <p class="descuento">40% OFF</p>
            <p class="descripcion"><b>Cafetera Moulinex</b></p>

            <img src="./images/img-macbook-pro-2019.jpg" alt="macbook pro 2019" style="width: 250px;">
            <p class="precios">$230.000</p>
            <p class="descuento">20% OFF</p>
            <p class="descripcion"><b>MacBook Pro 2019</b></p>

            <img src="./images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" style="width: 250px;">
            <p class="precios">$70.500</p>
            <p class="descuento">10% OFF</p>
            <p class="descripcion"><b>Samsung Galaxy S10</b></p>

            <img src="./images/img-tv-samsung-smart.jpg" alt="tv samsung smart" style="width: 250px;">
            <p class="precios">$23.200</p>
            <p class="descuento">5% OFF</p>
            <p class="descripcion"><b>SmartTv Samsung 43"</b></p>
        </div>
    </main>
    <footer>
        <div class="iconosfooter"><i class="fas fa-credit-card" style="color: #1259c3;"></i></div>
        <h3 class="titulos2">Pagá con tarjeta o en efectivo</h3>
        <p class="textfooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <div class="iconosfooter"><i class="fas fa-gift" style="color: #1259c3;"></i></div>
        <h3 class="titulos2">Envío gratis desde $ 2.500</h3>
        <p class="textfooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <div class="iconosfooter"><i class="fas fa-user-shield" style="color: #1259c3;"></i></div>
        <h3 class="titulos2">Seguridad, de principio a fin</h3>
        <p class="textfooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>